.col-sm-6.col-md-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      %img.img-shadow.general-thumbnail-img{ alt: book.title, src: book.image }
      .thumb-hover
        .general-thumb-link-wrap
          = simple_form_for :order_item,
          url: order_item_index_path,
          html: { class: false } do |f|
            = f.hidden_field :book_id, value: book.id
            = f.hidden_field :price, value: book.price
            = f.hidden_field :quantity, value: 1
            %a.btn.btn-link.thumb-hover-link{ href: catalog_book_path(book) }
              %i.fa.fa-eye.thumb-icon
            = button_tag class: 'thumb-hover-link btn-link' do
              %i.fa.fa-shopping-cart.thumb-icon
  .mb-35
    .clearfix
      %p.pull-right.font-16.in-gold-500= currency(book.price)
      %p.title.mr-55= book.title
    %span.divider-sm
    %p.lead.small= book.authors_list