= render 'main/carousel', items: @carousel
.container
.jumbotron.text-center.mb-0
  %h2.h1= t(:'home.welcome_title')
  .mb-res-50
    %p= t(:'home.welcome_text')
  %a.btn.btn-default{ href: catalog_url }= t(:'home.get_started')
.mb-35
  %h3= t(:'home.best_sellers')
  .row
    - @bestseller.each do |item|
      = render 'main/bestseller_item', book: item
