%h1.general-title-margin Сatalog
.hidden-xs.clearfix
  .dropdowns.pull-right
    .dropdown.width-240
      = render 'catalogs/sort'
  = render 'catalogs/categories'
.dropdowns.mb-25.visible-xs
  %p.lead.small.mb-10 Filter by category
  .dropdown
    = render 'catalogs/categories_xs'
  .dropdown
    = render 'catalogs/sort'
= render 'catalogs/books'