%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t(:sing_up)
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    %p.general-login-text= t(:or)
  = render 'devise/registrations/register_form'
  %p.general-sign-text.text-center
    = t(:have_account)
    %a.in-gold-500{ href: "#{ new_customer_session_path }" }
      = t(:sign_in)
