%p.in-gold-500.font-18= t('checkout.summary')
%table.general-summary-table{class: table_class}
  %tr
    %td
      %p.font-16= t('checkout.subtotal')
    %td
      %p.font-16= currency(@order.item_total)
  %tr
    %td
      %p.font-16= t('checkout.coupon')
    %td
      %p.font-16= currency(@order.coupon_discount)
  %tr
    %td
      %p.font-16= t('checkout.shipping')
    %td
      %p.font-16= currency(@order.delivery_cost)
  %tr
    %td
      %p.font-16= t('checkout.total')
    %td
      %p.font-16= currency(@order.total)