%h1.general-title-margin= t('checkout.title')
= checkout_progress_bar
= simple_form_for(@order, url: wizard_path,
  html: { method: 'PUT', class: '', id: 'addresses'}) do |f|
  %div.res-mb-100
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle= t('address.billing')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle= t('address.shipping')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('address.billing')
        = f.simple_fields_for :billing_address do |ba|
          = ba.input :firstname,
            label: t('address.labels.firstname'),
            placeholder: t('address.labels.firstname')
          = ba.input :lastname,
            label: t('address.labels.lastname'),
            placeholder: t('address.labels.lastname')
          = ba.input :delivery_address,
            label: t('address.labels.address'),
            placeholder: t('address.labels.address')
          = ba.input :city,
            label: t('address.labels.city'),
            placeholder: t('address.labels.city')
          = ba.input :zipcode,
            label: t('address.labels.zip'),
            placeholder: t('address.labels.zip')
          = ba.input :country,
            label: t('address.labels.country'),
            prompt: t('address.placeholders.country')
          = ba.input :phone,
            label: t('address.labels.phone'),
            placeholder: t('address.labels.phone')
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('address.shipping')
        #shipping-address
          = f.simple_fields_for :shipping_address do |sa|
            = sa.input :firstname,
              label: t('address.labels.firstname'),
              placeholder: t('address.labels.firstname')
            = sa.input :lastname,
              label: t('address.labels.lastname'),
              placeholder: t('address.labels.lastname')
            = sa.input :delivery_address,
              label: t('address.labels.address'),
              placeholder: t('address.labels.address')
            = sa.input :city,
              label: t('address.labels.city'),
              placeholder: t('address.labels.city')
            = sa.input :zipcode,
              label: t('address.labels.zip'),
              placeholder: t('address.labels.zip')
            = sa.input :country,
              label: t('address.labels.country'),
              prompt: t('address.placeholders.country')
            = sa.input :phone,
              label: t('address.labels.phone'),
              placeholder: t('address.labels.phone')
        .form-group.checkbox
          %label.checkbox-label
            %input.checkbox-input{ type: 'checkbox', name: :use_billing_address, hidden: 'true'}
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('address.labels.use_billing_address')
    .general-text-align.mb-60
      = render 'checkout/checkout_summary', position: :left
      = f.button :submit, t('checkout.continue_btn'), class: 'btn btn-default center-block mb-20'