%h1.general-title-margin= t('checkout.title')
= render 'checkout/progress'
.row.mb-20
  .col-sm-3
    %h3.general-subtitle= t('address.shipping')
    %p.general-address
      = @order.shipping_address.fullname
      %span.general-edit
        = link_to 'edit', wizard_path(:address), id: 'edit-shipping-address'
      %br
      = @order.shipping_address.delivery_address
      %br
      = @order.shipping_address.city
      %br
      = @order.shipping_address.country_name
      %br
      = @order.shipping_address.phone
  .col-sm-3
    %h3.general-subtitle= t('address.billing')
    %p.general-address
      = @order.billing_address.fullname
      %span.general-edit
        = link_to 'edit', wizard_path(:address), id: 'edit-billing-address'
      %br
      = @order.billing_address.delivery_address
      %br
      = @order.billing_address.city
      %br
      = @order.billing_address.country_name
      %br
      = @order.billing_address.phone
  .col-sm-3
    %h3.general-subtitle= t('shipping.shipments')
    %p.general-address
      = @order.delivery_method.name
      %span.general-edit
        = link_to 'edit', wizard_path(:delivery), id: 'edit-delivery-method'
      %br
      = @order.delivery_method.shipping_days
  .col-sm-3
    %h3.general-subtitle= t('payment.payment_info')
    %p.general-address
      = @order.credit_card.hidden_number
      %span.general-edit
        = link_to 'edit', wizard_path(:payment), id: 'edit-payment'
      %br
      = @order.credit_card.show_exp
.visible-xs
  - @order.items.each_with_index do |item, index|
    = render 'checkout/confirm/item-xs', item: item, margin_class: ('mb-55' if index == 0)
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600 Book
        %th.col-method
        %th
          %span.in-grey-600 Price
        %th
          %span.in-grey-600 Quantity
        %th
          %span.in-grey-600 Total
    %tbody
      - @order.items.each do |item|
        = render 'checkout/confirm/item', item: item
.text-center.general-text-right
  = render 'checkout/checkout_summary', table_class: 'general-summary-table-right general-text-right'
.text-center
  = simple_form_for(@order, url: wizard_path,
  html: { method: 'PUT', class: '', id: 'confirm'}) do |f|
    = f.button :submit, 'Place Order', class: 'btn btn-default mb-20'
  -#%button.btn.btn-default.mb-20 Place Order
