%h1.general-title-margin Checkout
= render 'checkout/progress'
.row.mb-20
  .col-sm-3
    %h3.general-subtitle Shipping Address
    %p.general-address
      = @order.shipping_address.fullname
      %span.general-edit
        = link_to 'edit', wizard_path(:address)
      %br
      = @order.shipping_address.delivery_address
      %br
      = @order.shipping_address.city
      %br
      = @order.shipping_address.country_name
      %br
      = @order.shipping_address.phone
  .col-sm-3
    %h3.general-subtitle Billing Address
    %p.general-address
      = @order.billing_address.fullname
      %span.general-edit
        = link_to 'edit', wizard_path(:address)
      %br
      = @order.billing_address.delivery_address
      %br
      = @order.billing_address.city
      %br
      = @order.billing_address.country_name
      %br
      = @order.billing_address.phone
  .col-sm-3
    %h3.general-subtitle Shipments
    %p.general-address
      = @order.delivery_method.name
      %span.general-edit
        = link_to 'edit', wizard_path(:delivery)
      %br
      = @order.delivery_method.shipping_days
  .col-sm-3
    %h3.general-subtitle Payment Information
    %p.general-address
      = @order.hidden_credit_card
      %span.general-edit
        = link_to 'edit', wizard_path(:payment)
      %br
      12/2018
.visible-xs
  - @order.items.each_with_index do |item, index|
    = render 'checkout/confirm/item-xs', item: item, margin_class: ('mb-55' if index == 0)
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600 Book
        %th.col-method
        %th
          %span.in-grey-600 Price
        %th
          %span.in-grey-600 Quantity
        %th
          %span.in-grey-600 Total
    %tbody
      - @order.items.each do |item|
        = render 'checkout/confirm/item', item: item
.text-center.general-text-right
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table.general-summary-table-right.general-text-right
    %tr
      %td
        %p.font-16 Subtotal:
      %td
        %p.font-16= @order.sub_total_in_euro
    %tr
      %td
        %p.font-16 Delivery:
      %td
        %p.font-16= @order.delivery_cost_in_euro
    %tr
      %td
        %p.font-16 Coupon:
      %td
        %p.font-16 €0.00
    %tr
      %td
        %strong.font-18 Order Total:
      %td
        %strong.font-18= @order.total_in_euro
.text-center
  = simple_form_for(@order, url: wizard_path,
  html: { method: 'PUT', class: ''}) do |f|
    = f.button :submit, 'Place Order', class: 'btn btn-default mb-20'
  -#%button.btn.btn-default.mb-20 Place Order
