%h1.general-title-margin Checkout
= render 'checkout/progress'
%h3.general-subtitle Credit Card
= simple_form_for(@order, url: wizard_path,
  html: { method: 'PUT', class: 'max-600 mb-80'}) do |f|
  = f.simple_fields_for :credit_card do |cf|
    = cf.input :number, placeholder: 'Card Number', label: 'Card Number'
    .row
      .col-sm-6
        = cf.input :card_owner, label: 'Name on Card', placeholder: 'Name on Card'
      .col-sm-3
        = cf.input :expiration, label: 'MM / YY', placeholder: 'MM / YY', as: :string
      .col-sm-3
        = cf.input :cvv, label: 'CVV', wrapper_html: { class: 'relative' } do
          = cf.input_field :cvv, placeholder: 'CVV', class: 'form-control'
          %i.fa.fa-question-circle.general-form-help{'data-toggle' => 'tooltip', 'data-placement' => 'top', title: '3-digest security code usually found on the back of your card. American Express cards have a 4-digest code located on the front' }
  = javascript_include_tag 'delete_account.js'
  .general-text-align
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table
      %tr
        %td
          %p.font-16 Subtotal:
        %td
          %p.font-16 €117.69
      %tr
        %td
          %p.font-16 Coupon:
        %td
          %p.font-16 €0.00
      %tr
        %td
          %strong.font-18 Order Total:
        %td
          %strong.font-18 €117.69
  .text-center
    = f.button :submit, 'Save and Continue', class: 'btn btn-default center-block mb-20'