%h1.general-title-margin= t('checkout.title')
= checkout_progress_bar
%h3.general-subtitle= t('payment.title')
= simple_form_for(@order, url: wizard_path,
  html: { method: 'PUT', class: 'max-600 mb-80', id: 'credit-card'}) do |f|
  - logger.debug "#{@order.credit_card.inspect}"
  = f.simple_fields_for :credit_card do |cf|
    = cf.input :number,
      label: t('payment.labels.number'),
      placeholder: t('payment.labels.number')
    .row
      .col-sm-6
        = cf.input :card_owner,
          label: t('payment.labels.owner'),
          placeholder: t('payment.labels.owner')
      .col-sm-3
        = cf.input :expiration,
          label: t('payment.labels.expiration'),
          placeholder: t('payment.labels.expiration'),
          as: :string,
          input_html: { value: cf.object.input_exp }
      .col-sm-3
        = cf.input :cvv,
          label: t('payment.labels.cvv'),
          wrapper_html: { class: 'relative' } do
          = cf.input_field :cvv,
            placeholder: t('payment.labels.cvv'),
            class: 'form-control'
          %i.fa.fa-question-circle.general-form-help{ 'data-toggle' => 'tooltip',
          'data-placement' => 'top', title: t('payment.labels.cvv_help') }
  .general-text-align
    = render 'checkout/checkout_summary', position: :left
  .text-center
    = f.button :submit, t('checkout.continue_btn'), class: 'btn btn-default center-block mb-20'