%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Set new password
  = form_for(resource,
    as: resource_name,
    url: password_path(resource_name),
    html: { method: :put, class: 'general-form'}) do |f|
    = f.hidden_field :reset_password_token
    .form-group.mb-30
      = f.label :password, 'Type a new Password',
        class: 'control-label input-label'
      = f.password_field :password,
        autofocus: true,
        autocomplete: 'off',
        id: 'password',
        class: 'form-control',
        placeholder: 'Type a new Password'
    .form-group.mb-40
      = f.label :password_confirmation, 'Confirm Password',
        class: 'control-label input-label'
      = f.password_field :password_confirmation,
        autocomplete: 'off',
        id: 'confirmPassword',
        class: 'form-control',
        placeholder: 'Confirm Password'
    = f.submit 'Change',
      class: 'btn btn-default center-block mb-20'