= simple_form_for :order_item, url: order_item_index_path, html: { class: false } do |f|
  = f.hidden_field :book_id, value: book.id
  = f.hidden_field :price, value: book.price
  .col-xs-5.col-md-3
    .input-group.general-position
      .btn.btn-link.input-link{ onclick: "change_quantity('minus')" }
        %i.fa.fa-minus.line-height-40
      = f.input_field :quantity,
        label: false,
        value: 1,
        class: 'form-control quantity-input'
      .btn.btn-link.input-link{ onclick: "change_quantity('plus')" }
        %i.fa.fa-plus.line-height-40
  .col-xs-7.col-md-5
    = f.submit 'Add to Cart', class: 'btn btn-default pull-right general-position'
  = javascript_include_tag "quantity-plus-minus.js"
