%h1.mt-res-0= book.title
%p.lead.small= book.authors_list
.row
  .col-xs-12.col-md-4
    %p.h1.in-gold-500.mt-10 €32.90
  = render 'book/add_to_cart', book: book
.general-info-wrap.divider-lg
  %p Description
  %p.lead.small.line-height-2
    = book.description
    -#%a.in-gold-500.ml-10{href: "#"} Read More
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left Year of publication
    %p.lead.small.pull-right= book.year.to_time.year
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left Dimensions
    %p.lead.small.pull-right= book.dimension
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left Materials
    %p.lead.small.pull-right= book.material