%h1.mt-res-0= book.title
%p.lead.small= book.authors_list
.row
  .col-xs-12.col-md-4
    %p.h1.in-gold-500.mt-10= currency(book.price)
  = render 'book/add_to_cart', book: book
.general-info-wrap.divider-lg
  %p= t('book.description')
  %p.lead.small.line-height-2
    = book.short_description
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left= t('book.year')
    %p.lead.small.pull-right= book.year.to_time.year
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left= t('book.dimensions')
    %p.lead.small.pull-right= book.dimension
.general-info-wrap.divider-lg
  .clearfix
    %p.pull-left= t('book.materials')
    %p.lead.small.pull-right= book.material