%h3.in-gold-500.mb-25= "Reviews (#{@reviews.count})"
- @reviews.each do |review|
  .general-message-wrap.divider-lg
    .clearfix
      %span.img-circle.logo-size.inlide-block.pull-left.logo-empty= review.logo_letter
      .ml-70
        %div
          .general-message-date.hidden-xs= review.date
          .max-240
            .general-message-verified.pull-right= review.verified
            .general-message-name= review.fullname
        .mb-15
          - 5.times do |i|
            %i.fa.fa-star.rate-star{class: ('rate-empty' if review.rating_number <= i)}
        %p= review.text_review