= link_to :back, class: 'general-back-link' do
  %i.fa.fa-long-arrow-left.mr-15
  = t('book.back_link')
.row
  .col-sm-6
    = render 'book/images', image: @book.image
  .col-sm-6
    = render 'book/description'
.mb-80
  = render 'book/reviews'
  - if can? :create, Review
    = render 'book/write_review'
