.col-md-5.mb-40{ class: ('col-md-offset-1' if type == 'shipping') }
  .visible-xs.visible-sm
    %h3.general-subtitle.mt-0= "#{type.capitalize} Address"
  = simple_form_for(current_customer,
    url: :"update_#{type}_address_customer",
    html: { method: 'PUT', class: 'general-form-md', id: "#{type}-address" }) do |f|
    = f.simple_fields_for :"#{type}_address" do |ba|
      = ba.input :firstname
      = ba.input :lastname
      = ba.input :delivery_address
      = ba.input :zipcode
      = ba.input :phone
      = ba.input :city
      = ba.input :country
      = ba.button :submit, 'Save', class: 'btn btn-default'