.hidden-xs.hidden-sm
  .row
    .col-md-5
      %h3.general-subtitle.mt-0 Billing Address
    .col-md-5.col-md-offset-1
      %h3.general-subtitle.mt-0 Shipping Address
.row
  .col-md-5.mb-40
    .visible-xs.visible-sm
      %h3.general-subtitle.mt-0 Billing Address
    = simple_form_for(current_customer,
      url: update_billing_address_customer_path,
      html: { method: 'PUT', class: 'general-form-md' }) do |f|
      = f.simple_fields_for :billing_address do |ba|
        = ba.input :firstname
        = ba.input :lastname
        = ba.input :address
        = ba.input :zipcode
        = ba.input :phone
        = ba.input :city
        = ba.input :country
        = ba.button :submit, 'Save', class: 'btn btn-default'
  .col-md-5.col-md-offset-1.mb-25
    .visible-xs.visible-sm
      %h3.general-subtitle.mt-0 Shipping Address
    = simple_form_for(current_customer,
      html: { method: 'PUT', class: 'general-form-md' }) do |f|
      = f.simple_fields_for :shipping_address do |sa|
        = sa.input :firstname
        = sa.input :lastname
        = sa.input :address
        = sa.input :zipcode
        = sa.input :phone
        = sa.input :city
        = sa.input :country
        = sa.button :submit, 'Save', class: 'btn btn-default'
  -#  .form-group.has-error
  -#    %label.control-label.input-label{for: "firstName"} First Name
  -#    %input.form-control{name:"fname", type: "text", placeholder: "First Name"}
  -#    %span.help-block Please enter your first name
  -#  .form-group
  -#    %label.control-label.input-label{for: "lastName"} Last Name
  -#    %input.form-control{name:"lname", type: "text", placeholder: "Last Name"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "address"} Address
  -#    %input.form-control{name: "address", type: "text", placeholder: "Address"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "city"} City
  -#    %input.form-control{name: "city", type: "text", placeholder: "City"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "zip"} Zip
  -#    %input.form-control{name: "zip", type: "text", placeholder: "Zip"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "сountry"} Country
  -#    %input.form-control{name: "country", type: "text", placeholder: "Select a country"}
  -#  .form-group.mb-60
  -#    %label.control-label.input-label{for: "phone"} Phone
  -#    %input.form-control{name: "phone", type: "tel", placeholder: "Example +355 66 123 4567"}
  -#  .text-center.general-text-align
  -#    %button.btn.disabled Save
  -#.col-md-5.col-md-offset-1.mb-25
  -#  .visible-xs.visible-sm
  -#    %h3.general-subtitle.mt-0 Shipping Address
  -#  .form-group.has-error
  -#    %label.control-label.input-label{for: "firstName"} First Name
  -#    %input#firstName.form-control{name:"fname", type: "text", placeholder: "First Name"}
  -#    %span.help-block Please enter your first name
  -#  .form-group
  -#    %label.control-label.input-label{for: "lastName"} Last Name
  -#    %input#lastName.form-control{name:"lname", type: "text", placeholder: "Last Name"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "address"} Address
  -#    %input.form-control{name: "address", type: "text", placeholder: "Address"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "city"} City
  -#    %input#city.form-control{name: "city", type: "text", placeholder: "City"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "zip"} Zip
  -#    %input#zip.form-control{name: "zip", type: "text", placeholder: "Zip"}
  -#  .form-group
  -#    %label.control-label.input-label{for: "сountry"} Country
  -#    %select#country.form-control{name: "country", placeholder: "Select a country"}
  -#      %option London
  -#      %option London
  -#      %option London
  -#  .form-group.mb-55
  -#    %label.control-label.input-label{for: "phone"} Phone
  -#    %input#phone.form-control{name: "phone", type: "tel", placeholder: "Example +355 66 123 4567"}
  -#  .text-center.general-text-align
  -#    %button.btn.disabled Save