.row.mb-60
  .col-sm-5
    %p.in-gold-500.font-18.mb-25= t('settings.email')
    = simple_form_for(current_customer,
      url: customers_path,
      html: { method: 'PUT', class: 'general-form-md', id: 'change-email' }) do |f|
      = f.hidden_field :action, value: 'change-email', id: nil
      = f.input :email,
        label: t('settings.labels.email'),
        placeholder: t('settings.labels.email'),
        autocomplete: 'email'
      .general-text-align
        = f.button :submit, t('general.save'), class: 'btn btn-default'
  .col-sm-5.col-sm-offset-1
    %p.in-gold-500.font-18.mb-25= t('settings.password')
    = simple_form_for(current_customer,
      url: customers_path,
      html: { method: 'PUT', class: 'general-form-md divider-lg-bottom pb-25', id: 'change-password' }) do |f|
      = f.hidden_field :action, value: 'change-password', id: nil
      = f.input :current_password,
        label: t('settings.labels.old_password'),
        placeholder: t('settings.labels.old_password'),
        wrapper_html: { class: 'mb-30' }
      = f.input :password,
        label: t('settings.labels.new_password'),
        placeholder: t('settings.labels.new_password'),
        wrapper_html: { class: 'mb-30' }
      = f.input :password_confirmation,
        label: t('settings.labels.confirm_password'),
        placeholder: t('settings.labels.confirm_password'),
        wrapper_html: { class: 'mb-40' }
      = f.button :submit,
        t('general.save'),
        class: 'btn btn-default',
        wrapper_html: { class: 'mb-10' }
  .col-sm-12
    %p.in-gold-500.font-18.mb-25= t('settings.remove_account')
    = simple_form_for(current_customer,
      url: customer_registration_path,
      html: { method: 'DELETE', id: 'remove-account', class: nil }) do |f|
      .general-settings-btn
        = f.button :submit,
          t('settings.labels.remove_account_btn'),
          class: 'btn btn-default mb-20',
          disabled: true
      .form-group.checkbox.general-settings-checkbox
        %label.checkbox-label
          %input.checkbox-input{ type: 'checkbox', hidden: 'true', id: 'delete-checkbox',}
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text= t('settings.labels.remove_account_confirm')
    = javascript_include_tag 'delete_account.js'