- unless @orders.empty?
  - @orders.each do |order|
    .general-cart-item
      %table.table
        %tr
          %td.col-half
            %span.in-grey-600= t('orders.table.number')
          %td.col-half
            = link_to order.order_number, customers_order_path(order), class: 'general-order-number'
        %tr
          %td
            %span.in-grey-600= t('orders.table.complete')
          %td
            %span.in-grey-900.font-16.fw-300= order.completed_at
        %tr
          %td
            %span.in-grey-600= t('orders.table.status')
          %td
            %span.font-16.in-grey-900.fw-300= order.state
        %tr
          %td
            %span.in-grey-600= t('orders.table.total')
          %td
            %strong.font-16= currency(order.total_price)
- else
  %h3.text-center= t('orders.not_found')