%h1.general-title-margin= "Order #{order.order_number}"
.row.mb-20
  .col-sm-3
    %h3.general-subtitle= t('address.shipping')
    %p.general-address
      = @order.shipping_address.fullname
      %br
      = @order.shipping_address.delivery_address
      %br
      = @order.shipping_address.city
      %br
      = @order.shipping_address.country_name
      %br
      = @order.shipping_address.phone
  .col-sm-3
    %h3.general-subtitle= t('address.billing')
    %p.general-address
      = @order.billing_address.fullname
      %br
      = @order.billing_address.delivery_address
      %br
      = @order.billing_address.city
      %br
      = @order.billing_address.country_name
      %br
      = @order.billing_address.phone
  .col-sm-3
    %h3.general-subtitle= t('shipping.shipments')
    %p.general-address
      = @order.delivery_method.name
      %br
      = @order.delivery_method.shipping_days
  .col-sm-3
    %h3.general-subtitle= t('payment.payment_info')
    %p.general-address
      = @order.credit_card.hidden_number
      %br
      = @order.credit_card.show_exp
.visible-xs
  - @order.items.each_with_index do |item, index|
    = render 'checkout/confirm/item-xs', item: item, margin_class: ('mb-55' if index == 0)
.hidden-xs.divider-lg.pt-20
  = render 'checkout/confirm/items'
.text-center.general-text-right
  = render 'checkout/checkout_summary', position: :right
.text-center
  = link_to 'Back To Orders', customers_orders_path, class: 'btn btn-primary mb-55'
