%tr
  = simple_form_for item, url: order_item_path(item) do |f|
    %td
      .general-img-wrap-table
        %img.cart-img-shadow.pull-left{src: item.book.image, alt: item.book.title}
    %td
      %p.title= item.book.title
    %td
      %span.font-16.in-gold-500= currency(item.book.price)
    %td
      .input-group
        = button_tag class: 'btn btn-link input-link', name: :minus do
          %i.fa.fa-minus.line-heaght-40
        = f.input_field :quantity, class: 'form-control quantity-input', type: :text
        = button_tag class: 'btn btn-link input-link', name: :plus do
          %i.fa.fa-plus.line-heaght-40
    %td
      %span.font-16.in-gold-500= currency(item.sub_total)
    %td
      = button_tag class: 'close general-cart-close', name: :delete do
        %span{'aria-hidden': "true"} &times;