.general-main-wrap
  .text-center
    %h3.general-login-title= t('log_in')
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    %p.general-login-text= t('general.or')
  = render 'devise/sessions/login_form'
  %p.general-sign-text.text-center
    = t('auth.dont_have_account')
    %a.in-gold-500{href: "#{ new_customer_registration_path }"}= t('auth.sign_up')