%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar' }
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        = t(:shop_name)
      %a.shop-link.pull-right.visible-xs{ href: cart_path }
        %span.shop-icon
          %span.shop-quantity= cart_count_items
    %a.shop-link.pull-right.hidden-xs{ href: cart_path }
      %span.shop-icon
        %span.shop-quantity= cart_count_items
    #navbar.navbar-collapse.collapse.pl-30{ 'aria-expanded': 'false' }
      .visible-xs
        %button.close{type: 'button', 'aria-label': t(:close)}
          %span{ 'aria-hidden': 'true' } &times;
        %ul.nav.navbar-nav
          %li
            = link_to t(:menu_home), :root
          %li
            %a{ type: 'button', 'data-toggle': 'collapse', href: '#menu',
              'aria-expanded': 'false', 'aria-controls': 'menu' }
              = t(:menu_catalog)
            %ul#menu.collapse.list-unstyled.pl-30.mb-10{ 'aria-expanded': 'false' }
              %li
                %a.collapse-link{ href: '#' } Mobile development
              %li
                %a.collapse-link{ href: '#' } Photo
              %li
                %a.collapse-link{ href: '#' } Web design
          %li
            = link_to t(:sign_up), :new_customer_registration
          %li
            = link_to t(:sign_in), :new_customer_session
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to t(:menu_home), :root
          %li.dropdown
            %a.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', role: 'button',
              'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = t(:menu_catalog)
            = render 'layouts/categories_submenu'
          - unless customer_signed_in?
            %li
              = link_to t(:sign_up), :new_customer_registration
            %li
              = link_to t(:sign_in), :new_customer_session
          - else
            %li.dropdown
              %a.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', role: 'button',
                'aria-haspopup': 'true', 'aria-expanded': 'false'}
                = t(:menu_account)
              %ul.dropdown-menu
                %li
                  = link_to t(:menu_orders), :customer_orders
                %li
                  = link_to t(:menu_settings), :customer
                %li.divider{ role: 'separator' }
                %li
                  = link_to t(:log_out), :destroy_customer_session, method: :delete
