%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar' }
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        = t(:'general.shop_name')
      %a.shop-link.pull-right.visible-xs{ href: cart_path }
        %span.shop-icon
          %span.shop-quantity= cart_count_items
    %a.shop-link.pull-right.hidden-xs{ href: cart_path }
      %span.shop-icon
        %span.shop-quantity= cart_count_items
    #navbar.navbar-collapse.collapse.pl-30{ 'aria-expanded': 'false' }
      .visible-xs
        = render 'layouts/main_menu_xs'
      .hidden-xs
        = render 'layouts/main_menu'
