!!!
%html
  %head
    = render 'layouts/header'
  %body
    = render 'layouts/navbar'
    %main.container
      = render 'layouts/flash'
      = yield
  %footer.navbar-inverse
    = render 'layouts/footer'