!!!
%html
  %head
    = render 'layouts/header'
  %body
    = render 'layouts/navbar'
    = yield
  %footer.navbar-inverse
    = render 'layouts/footer'
  = javascript_include_tag "jquery.js"
  = javascript_include_tag "bootstrap.js"
  %script{src: "https://use.fontawesome.com/67602d7308.js"}